<div class="help-component-wrapper">

  <button (click)="openMenu()" class="help-btn" aria-label="Get help" title="Get help">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>
    </svg>
  </button>

  <div id="clearContainer"
       [class.hidden]="!isOpen"
       [class.show]="isAnimating"
       (click)="closeMenu()">
  </div>

  <div id="helpMenuContainer"
       class="helpMenu-content"
       [class.hidden]="!isOpen"
       [class.scaleUp]="isAnimating"
       [style.opacity]="isAnimating ? 1 : 0">

    <span class="close" (click)="closeMenu()">&times;</span>

    <div id="helpMenuBox" [style.opacity]="isAnimating ? 1 : 0">
      <a href="https://inet.nist.gov/mr/library/how-use-nist-library-search" target="_blank">NIST Library Search Tips &amp; Videos</a>
      <a href="https://nist.servicenowservices.com/library?id=sc_category&catalog_id=f10372691ba2d4d0f5659605bc4bcb25" target="_blank">Library and Museum ServiceNow Catalog</a>
      <a href="https://knowledge.exlibrisgroup.com/Primo/Product_Materials/001_Next_Discovery_Experience_(NDE)/Next_Discovery_Experience_User_Interface" target="_blank">Vendor Created Documentation</a>
    </div>

  </div>
</div>